BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never
AlignConsecutiveDeclarations: false
AlignConsecutiveAssignments: false
AlignConsecutiveMacros: false
AlignTrailingComments: false
ColumnLimit: 100
DerivePointerAlignment: false
PointerAlignment: Left
SortIncludes: true
IncludeBlocks: Regroup
SpaceAfterCStyleCast: false
SpaceBeforeParens: ControlStatements
AllowShortFunctionsOnASingleLine: Empty
BreakBeforeBraces: Attach
KeepEmptyLinesAtTheStartOfBlocks: false
Cpp11BracedListStyle: true