menu "SSR"
config SSR_GPIO
    int "GPIO connected to SSR"
    default 4

config SSR_DEBOUNCE_ON
    int "SSR Hysteresis debounce ON"
    default 2

config SSR_DEBOUNCE_OFF
    int "SSR Hysteresis debounce OFF"
    default 4

config SSR_WATCHDOG_S
    int "SSR Watchdog (s)"
    default 180
endmenu

menu "Power"
config P_BOILER_MAX_NOM
    int "Nominal maximum power of boiler (W)"
    default 3400
endmenu